/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


.figtree{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
} */

 
@import "tailwindcss";

@tailwind utilities;

@font-face {
  font-family: "gothamrndMedium";
  src: url("/gothamrnd_medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.my-font {
  font-family: "gothamrndMedium", sans-serif;
}


@font-face {
  font-family: "gothamrndBook";
  src: url("/gothamrnd_book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.my-font-book {
  font-family: "gothamrndBook", sans-serif;
}



@font-face {
  font-family: "gothamrndBold";
  src: url("/gothamrnd_bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.my-font-bold{
  font-family: "gothamrndBold", sans-serif;
}



@font-face {
  font-family: "gothamrndLight";
  src: url("/gothamrnd_light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.my-font-light {
  font-family: "gothamrndLight", sans-serif;
}
